
h1 {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: teal;
}

p {
  color: gray;
}

ul {
  font-size: 20px;
  line-height: 30px;
  color:rgb(18, 64, 95);
}

ol {
  font-size: 25px;
  color:rgb(119, 0, 255)
}

li {
  font-family: serif;
}

body {
  background-color: skyblue;
}